#main{
    position: relative;
    padding: 0 20px;
    @media only screen and (max-width: 767px) {
        padding: 0;
    }
    @media only screen and (min-width: 768px) {
        z-index: 1;
    }
    @media only screen and (min-width: 1025px) {
        max-width: 1400px;
        margin: auto;
    }
}

////////////////////////////////////////////////////////////
#secondary.refinements {
    box-sizing: border-box;
    margin-top: 0;
    min-width: 150px;
    @media only screen and (min-width: 1460px) {
        min-width: 290px;
    }
    @media only screen and (min-width: 768px) {
        width: 13%;
    }
    @media only screen and (max-width: 767px) {
       margin-bottom: 23px;
       padding: 0 15px;
    }
    @media only screen and (min-width: 1460px) {
        min-width: 290px;
     }
     @media only screen and (min-width: 1025px) {
        min-width: 190px;
     }
     
    .toggle{
        margin-top: 0;
        font-size: .75rem;
        span {
            background: none repeat scroll 0 0 transparent;
        }
    }
    .toggle+ul {
        padding: 0;
        margin: 10px 0 30px;
    }
    .filter-show {
        line-height: 2.1875rem;
        padding: 0;
        max-height: none;
        width: 100%;
        box-sizing: border-box;
    }
    .button {
        font-weight: 400;
        font-size: .75rem;
        cursor: pointer;
        background-color: #333;
        border: 1px solid #333;
        color: #fff;
        display: inline-block;
        text-align: center;
        transition: all .3s ease;
        letter-spacing: .12rem;
        border-radius: 0;
    }
    div {
        max-width: none;
    }
    .mobile-only {
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
    .filter-overflow {
        @media only screen and (min-width: 768px) {
            position: relative;
        }
        @media only screen and (max-width: 767px) {
            visibility: hidden;
            -webkit-transition: bottom .5s cubic-bezier(.25,.46,.45,.94);
            -moz-transition: bottom .5s cubic-bezier(.25,.46,.45,.94);
            -ms-transition: bottom .5s cubic-bezier(.25,.46,.45,.94);
            -o-transition: bottom .5s cubic-bezier(.25,.46,.45,.94);
            -webkit-transition: left .5s cubic-bezier(.25,.46,.45,.94),visibility .5s;
            transition: left .5s cubic-bezier(.25,.46,.45,.94),visibility .5s;
            overflow-y: auto;
            position: fixed;
            bottom: -100%;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 111;
            background: #fff;
        .filter-title {
            float: left;
            width: 65px;
            font-weight: 400;
            font-size: 1.5rem;
            color: #333;
            @media only screen and (min-width:768px) {
                display: none!important;
            }
            @media only screen and (min-width: 1440px) {
                margin: 7px 34px 0 0;
            }
            @media only screen and (max-width:767px) {
                width: auto;
                float: none;
                font-size: .875rem;
                color: #005699;
                padding: 23.5px 15px;
                text-transform: uppercase;
                margin: 0;
            }
            span.mobile-only {
            @media only screen and (max-width:767px) {
                position: absolute;
                right: 15px;
                top: 17px;
                width: auto;
            }
        }
        .filter-overfolw.close-filters {
            font-size: .875rem;
            box-sizing: border-box;
            @media only screen and (max-width:767px) {
                max-height: none;
                line-height: 2.4375rem;
               
                    }
                 svg {
                    overflow: hidden;
                    @media only screen and (max-width:767px) {
                        width: 20px;
                        height: 20px;
                            }
                 }   
                }       
            }
           .filter-content {
            @media only screen and (max-width:767px) {
                    padding: 0 20px;
                    margin-bottom: 0;
                }
            .html-slot-container, .active-sub-category {
               .toggle {
                   margin:0;
                   font-size: .75rem;
                   border: 0 none;
                   display: block;
                   color: #333;
                   margin: 1.25em 0;
                   text-transform: uppercase;
                   
               }
              
               .toogle+ul {
                   padding: 0;
                   margin: 10px 0 30px;
                   border: 0 none;
                   list-style: none outside none;
                   font-weight: 400;
                   @media only screen and (max-width:768px) {
                    margin-bottom: 47px;
                }
                    li {
                        list-style: none outside none !important;
                        margin: 1.25em 0;
                        line-height: 1.25rem;
                        a {
                            color: #767676;
                            display: block;
                            font-weight: 400;
                            font-size: .875rem;
                        }
                    }
               }
               ul {
                li {
                    list-style: none outside none !important;
                    margin: 1.25em 0;
                    line-height: 1.25rem;
                    a {
                        color: #767676;
                        display: block;
                        font-weight: 400;
                        font-size: .875rem;
                    }
                }
               }
            }
            .outer-close-filters {
                position: fixed;
                bottom: 0;
                left: 0;
                padding: 20px;
                width: 100%;
                border-top: 1px solid #e5e5e5;
                background-color: #fff;
                z-index: 112;
                box-sizing: border-box;
                @media only screen and (max-width:767px) {
                   display: none;
                }
                @media only screen and (min-width:768px) {
                   bottom: -50px;
                 }
                .close-filters{
                    font-size: .875rem;
                    @media only screen and (max-width:767px) {
                        max-height: none;
                        line-height: 2.4375rem;
                     }
                    
                }
            }
           } 
        }   
    }
    .filter-overflow.active{
        @media only screen and (max-width:767px) {
            visibility: visible;
            bottom: 0;
         }
    }
}
#secondary {
    border: 0;
    float: none;
    font-size: 1.1em;
    width: 100%;
}
/////////////////////////////////////////


.primary-content{
    width: 100%;
    box-sizing: border-box;
    @media only screen and (min-width:768px) {
        width: 78%;
        float: right;
        padding: 0 0 20px;
        position: relative;
      }
      @media only screen and (min-width:1460px) {
        margin-right: -20px;
      }
}
div {
    @media only screen and (max-width:767px) {
       max-width: none;
     }  
}

nav[role=navigation]:after {
    content: "";
    display: table;
    clear: both;
}

.animate-left {
    visibility: hidden;
            -webkit-transition: bottom .5s cubic-bezier(.25,.46,.45,.94);
            -moz-transition: bottom .5s cubic-bezier(.25,.46,.45,.94);
            -ms-transition: bottom .5s cubic-bezier(.25,.46,.45,.94);
            -o-transition: bottom .5s cubic-bezier(.25,.46,.45,.94);
            -webkit-transition: left .5s cubic-bezier(.25,.46,.45,.94),visibility .5s;
            transition: left .5s cubic-bezier(.25,.46,.45,.94),visibility .5s;
            overflow-y: auto;
            position: fixed;
            bottom: -100%;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 111;
            background: #fff;
}